@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Rubik+Mono+One&display=swap');


html {
    background-color: #ffdbba;
    text-align: center;
    font-family: 'Bona Nova SC';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

h1 {
    margin-top: 70px;
    font-size: 50px;
    color: #ffe600;
    text-shadow: 0px 0px 10px rgba(118, 118, 118, 0.2);

}

h2 {
    margin-top: 3px;
    font-size: 20px;
    color: #ffe600;
    text-shadow: 0px 0px 10px rgba(118, 118, 118, 0.2);

}

p {
    margin-top: 5px;
    font-size: 16px;
    color: #ffe600;
    text-shadow: 0px 0px 10px rgba(118, 118, 118, 0.2);
    font-family: "Archivo Black";
}  

h3 {
    margin-top: 1px;
    color: azure;
    font-size: 45px;
    text-shadow: 0px 0px 10px rgba(118, 118, 118, 0.2);
}

#rama {
    background-color: #972e1e;
}

#sinta {
    background-color: #cd6351;
}

#antareja {
    background-color: #679d8f;
}

#srikandi {
    background-color: #806ca5;
}

#bisma {
    background-color: #bfab00;
}

#kresna {
    background-color: #c75f85;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    h1 {
        font-size: 48px;
        margin-top: 50px;
    }

    h2 {
        font-size: 24px;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
        margin-top: 30px;
    }

    h2 {
        font-size: 20px;
    }
}

